################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/GeeksBank.Core.Api/bin/Debug/netcoreapp3.1
/GeeksBank.Core.Api/Log
/GeeksBank.Core.Api/obj
/GeeksBank.Core.Domain/bin/Debug/netcoreapp3.1
/GeeksBank.Core.Domain/obj
/GeeksBank.Core.Infrastructure/bin/Debug/netcoreapp3.1
/GeeksBank.Core.Infrastructure/obj
/Tests/Siigo.Extensions.Tests/bin/Debug/netcoreapp3.1
/Tests/Siigo.Extensions.Tests/obj
/Tests/Siigo.IntegrationTest/bin/Debug/netcoreapp3.1
/Tests/Siigo.IntegrationTest/obj
/Tests/GeeksBank.Core.Api.Test/bin/Debug/netcoreapp3.1
/Tests/GeeksBank.Core.Api.Test/obj
/Tests/GeeksBank.Core.Domain.Test/bin/Debug/netcoreapp3.1
/Tests/GeeksBank.Core.Domain.Test/obj
/Tests/GeeksBank.Core.Infrastructure.Test/bin/Debug/netcoreapp3.1
/Tests/GeeksBank.Core.Infrastructure.Test/obj
/.vs
**/bin/**
*/bin/**
bin
obj

**/*.txt
*.txt